.artist {
    margin-top: 150px;
}
.artist__header {
    text-align: center;
}
.artist__title {
    font-size: var(--heading-2);
    font-weight: 600;
    margin: 20px 0 10px 0;
}
.artist__date {
    font-size: var(--paragraph);
    font-weight: 500;
    color: var(--shade-light);
}

.artist__content {
    margin: 100px 0;
    padding: 0 30px;

    display: flex;
    flex-direction: column;
    gap: 50px;
}

.biography__title {
    font-size: var(--heading-2);
    font-weight: 600;
    margin: 0 0 20px 0;
}
.biography__paragraph {
    font-size: var(--paragraph);
    font-weight: 500;
    line-height: 120%;
    color: var(--shade-light);
}

.works__title {
    font-size: var(--heading-2);
    font-weight: 600;
    margin: 0 0 20px 0;
}

.carousel {
    position: relative;
}

.carousel__btn {
    position: absolute;
    width: 30px;
    height: 30px;
    background: var(--light);
    display: grid;
    place-content: center;
    border-radius: 50%;
    top: 50%;
}
.carousel__btn img {
    width: 20px;
}
.carousel__btn--left {
    rotate: -90deg;
    left: 10px;
}
.carousel__btn--right {
    rotate: 90deg;
    right: 10px;
}

.carousel__btn img {
    filter: invert(1);
}
.carousel__display {
    display: flex;
    gap: 30px;
    overflow-x: scroll;
    width: 100%;
    scroll-snap-type: inline;
    text-align: center;
}
.carousel__screen {
    width: 100%;
    flex: none;
    scroll-snap-align: start;
    text-align: center;
}

.carousel__display figure {
    margin: 0;
}